<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div><h4>Question <%= Id %>: <%= question %></h4></div>
    <br/>

    <div>
        <input type="<%=controltype %>" id="<%=Id%> - 1"><%= choices[0].a %></input>
        <input type="<%=controltype %>" id="<%=Id%> - 2"><%=choices[0].b %></input>
        <input type="<%=controltype %>" id="<%=Id%> - 3"><%=choices[0].c %></input>
        <input type="<%=controltype %>" id="<%=Id%> - 4"><%=choices[0].d %></input>
    </div>


    <br/>


</div>
